/* If the screen size is 601px wide or more, set the font-size of <div> to 80px */

@media screen and (min-width: 601px) {
    p {
        font-size: 18px;
    }
}


/* If the screen size is 600px wide or less, set the font-size of <div> to 30px */

@media screen and (max-width: 600px) {
    p {
        font-size: 10px;
    }
}

.card {
    box-shadow: 0 4px 8px 0 rgba(255, 255, 255, 0.2);
    max-width: 450px;
    margin: auto;
    text-align: center;
}

.title {
    color: rgb(255, 255, 255);
    font-size: 18px;
}

.button-card {
    border: none;
    outline: 0;
    display: inline-block;
    padding: 8px;
    color: white;
    background-color: #000;
    text-align: center;
    cursor: pointer;
    width: 100%;
    font-size: 18px;
}

a {
    text-decoration: none;
    font-size: 22px;
    color: black;
}

button:hover,
a:hover {
    opacity: 0.7;
}


/* end about card */


/* ratting */

.bar-2 {
    width: 60%;
    height: 18px;
    background-color: #ff9800;
}

.bar-container {
    border-radius: 4px;
    background-color: #f1f1f1;
    text-align: center;
    color: white;
}

.fa {
    font-size: 25px;
}

.checked {
    color: orange;
}

.fa {
    font-size: 25px;
}

.checked {
    color: orange;
}


/* Three column layout */

.side {
    float: left;
    width: 6%;
    margin-top: 10px;
}


/* chat box css */

{
    box-sizing: border-box;
}


/* Button used to open the chat form - fixed at the bottom of the page */

.open-button {
    background-color: #555;
    color: white;
    padding: 16px 20px;
    border: none;
    cursor: pointer;
    opacity: 0.8;
    position: fixed;
    bottom: 23px;
    right: 28px;
    width: 280px;
}


/* The popup chat - hidden by default */

.form-popup {
    display: none;
    position: fixed;
    bottom: 0;
    right: 15px;
    border: 3px solid #f1f1f1;
    z-index: 9;
}


/* Add styles to the form container */

.form-container {
    max-width: 300px;
    padding: 10px;
    background-color: white;
}


/* Full-width textarea */

.form-container textarea {
    width: 100%;
    padding: 15px;
    margin: 5px 0 22px 0;
    border: none;
    background: #f1f1f1;
    resize: none;
    min-height: 200px;
}


/* When the textarea gets focus, do something */

.form-container textarea:focus {
    background-color: #ddd;
    outline: none;
}


/* Set a style for the submit/login button */

.form-container .btn {
    background-color: #04AA6D;
    color: white;
    padding: 16px 20px;
    border: none;
    cursor: pointer;
    width: 100%;
    margin-bottom: 10px;
    opacity: 0.8;
}


/* Add a red background color to the cancel button */

.form-container .cancel {
    background-color: red;
}


/* Add some hover effects to buttons */

.form-container .btn:hover,
.open-button:hover {
    opacity: 1;
}